<footer class="bg-gray-900 text-white pb-10 flex flex-wrap p-4 gap-3">
  <section class="min-w-fit flex-1">
    <h2 class="text-xl font-bold">Contact</h2>
    <ul>
      <li class="my-3">
        <a class="flex items-center text-white gap-2" href="mailto:contact@tcit.fr" class="font-bold">
          <b>Courriel</b>
          <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 9L12 12.5L17 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2 17V7C2 5.89543 2.89543 5 4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17Z" stroke="currentColor" stroke-width="1.5"/>
          </svg>

        </a>
        <p>Je ferai de mon mieux pour répondre dès que possible.</p>
      </li>
      <li class="my-3">
        <a class="flex items-center text-white gap-2" href="/feed.atom" class="font-bold">
          <b>S'abonner au blog</b>
          <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 19C12 14.8 9.2 12 5 12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19 19C19 10.6 13.4 5 5 5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 19.01L5.01 18.9989" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>

        <p>
              Je propose un flux Atom de mes billets de blog. Ce flux est aussi disponible au format <a href="/feed.json">JSON Feed</a>.
            </p>
      </li>
      <li class="my-3">
        <a class="flex items-center text-white gap-2" href="https://social.tcit.fr/@tcit/" class="font-bold">
          <b>Mastodon</b>
          <svg class="w-6 -ml-1" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" stroke="currentColor" d="M 15.9375 4.03125 C 12.917 4.0435 9.9179219 4.4269844 8.3574219 5.1464844 C 8.3574219 5.1464844 5 6.6748594 5 11.880859 C 5 18.077859 4.9955 25.860234 10.5625 27.365234 C 12.6945 27.938234 14.527953 28.061562 16.001953 27.976562 C 18.676953 27.825562 20 27.005859 20 27.005859 L 19.910156 25.029297 C 19.910156 25.029297 18.176297 25.640313 16.029297 25.570312 C 13.902297 25.495313 11.6615 25.335688 11.3125 22.679688 C 11.2805 22.432688 11.264625 22.182594 11.265625 21.933594 C 15.772625 23.052594 19.615828 22.420969 20.673828 22.292969 C 23.627828 21.933969 26.199344 20.081672 26.527344 18.388672 C 27.041344 15.720672 26.998047 11.880859 26.998047 11.880859 C 26.998047 6.6748594 23.646484 5.1464844 23.646484 5.1464844 C 22.000984 4.3779844 18.958 4.019 15.9375 4.03125 z M 12.705078 8.0019531 C 13.739953 8.0297031 14.762578 8.4927031 15.392578 9.4707031 L 16.001953 10.505859 L 16.609375 9.4707031 C 17.874375 7.5037031 20.709594 7.6264375 22.058594 9.1484375 C 23.302594 10.596438 23.025391 11.531 23.025391 18 L 23.025391 18.001953 L 20.578125 18.001953 L 20.578125 12.373047 C 20.578125 9.7380469 17.21875 9.6362812 17.21875 12.738281 L 17.21875 16 L 14.787109 16 L 14.787109 12.738281 C 14.787109 9.6362812 11.429688 9.7360938 11.429688 12.371094 L 11.429688 18 L 8.9765625 18 C 8.9765625 11.526 8.7043594 10.585438 9.9433594 9.1484375 C 10.622859 8.3824375 11.670203 7.9742031 12.705078 8.0019531 z"/>
          </svg>
        </a>
        <p>Je parle souvent sur cette plateforme fédérée où j'héberge ma propre instance. Je suis aussi parfois <a class="font-bold" href="https://twitter.com/tcitWorld">sur Twitter</a>.</p>
      </li>
    </ul>
  </section>
  <section class="flex-1">
    <h2 class="text-xl font-bold">Informations</h2>
    <p>Ce site a été généré avec <a class="font-bold" href="https://www.11ty.dev/" hreflang="en">Eleventy</a>, un générateur de site statique.</p>
    <p>Le contenu du site est placé sous <a class="font-bold" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr" hreflang="fr">licence CC BY-SA 4.0</a>.</p>
    <p>Le code source et le contenu de ce site sont disponibles sur <a class="font-bold" href="https://framagit.org/tcit/tcit.frama.io">le dépôt Framagit</a>.</p>
    <p>Les mentions légales de ce site sont <a class="font-bold" href="/legals">disponibles ici</a>.</p>
  </section>
</footer>