<header class="flex flex-wrap gap-4 mb-4">
  <a href="{{ site.baseUrl }}">
    <img src="{{ site.baseUrl }}img/profil.png" alt="Thomas Citharel" class="w-20 md:w-48"/>
  </a>
  <div class="flex-1">

    <p class="text-lg">
        Salut, je suis
        <strong>Thomas Citharel</strong>, un être humain avec des compétences de développement web.
      </p>

    <nav class="container mx-auto max-w-3xl md:px-8 pt-2 flex flex-wrap justify-between">
      <ul class="inline font-semibold">
        <li class="inline">
          <a href="{{ site.baseUrl }}">Blog</a>
          <span aria-hidden="true">·</span>
        </li>

        <li class="inline">
          <a href="{{ site.baseUrl }}projects">Projets</a>
          <span aria-hidden="true">·</span>
        </li>

        <li class="inline">
          <a href="{{ site.baseUrl }}about">À propos</a>
        </li>
      </ul>
    </nav>
  </div>
</header>