<div>
    <div class="md:flex justify-evenly mb-6">
        <div class="flex justify-between mx-auto w-full">
            {% if pagination.href.previous %}
                <div class="mx-auto mb-4">
                    <a class="previous-page" href="{{ pagination.href.previous | url }}">Page suivante</a>
                </div>
            {% endif %}

            {% if pagination.href.next %}
                <div class="mx-auto mb-4">
                    <a class="next-page md:mb-2" href="{{ pagination.href.next | url }}">Page précédente</a>
                </div>
            {% endif %}
        </div>

        <div class="flex justify-between mx-auto w-full">
            {% if page.url !== pagination.href.first %}
                <div class="mx-auto mb-4">
                    <a class="first-page md:mb-2" href="{{ pagination.href.first | url }}">Première page</a>
                </div>

            {% endif %}

            {% if page.url !== pagination.href.last %}
                <div class="mx-auto">
                    <a class="last-page" href="{{ pagination.href.last | url }}">Dernière page</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if pagination.pages.length > 1 %}
        <p class="text-center text-sm italic mb-10">(Page
        {{ pagination.pageNumber + 1 }}
        sur
        {{ pagination.pages.length }}.)</p>
    {% endif %}
</div>