<figure class="mb-8 p-1 md:p-2">
    <div class="w-full">
        <img class="block object-cover object-center w-full h-full rounded-lg" src="{{ photo.src }}" loading="lazy"/>
    </div>
    {% if photo.comment or photo.address %}
        <figcaption class="mt-2">
            {% if photo.comment %}
                <p>
                    {{ photo.comment | toHTML | safe }}
                </p>
            {% endif %}
            {% if photo.address %}
                <address class="inline-flex mt-1">
                    <img src="/img/icons/location.svg" alt=""/>
                    {{ photo.address }}
                </address>
            {% endif %}
        </figcaption>
    {% endif %}
</figure>