<div>
    {% for post in posts %}
        {% if not post.data.draft %}
            <div class="mb-8 border-dotted border-b pb-8 border-gray-300">
                <h2 class="font-bold text-xl">
                    <a class="block" href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h2>

                <p class="excerpt">{{ post.data.excerpt }}</p>
                {%- if post.data.page.excerpt -%}
                    <p>{{ post.data.page.excerpt | toHTML | safe}}</p>
                {%- endif -%}

                <p class="flex flex-wrap gap-y-2 gap-x-0.5">
                    {% for tag in post.data.tags %}
                        {%- if tag !== "post" -%}
                            <a class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
                        {%- endif -%}
                    {% endfor %}
                </p>

                <time class="block md:inline md:float-right md:pt-4 pt-2 created-date" datetime="{{ post.data.date }}">
                    {{ post.data.date | readableDate }}
                </time>
            </div>
        {% endif %}
    {% endfor %}
</div>