---
permalink: "{{ path | slug }}/index.html"
---
{% extends 'page.njk' %}
{% block body %}
    <article>
        <h1 class="text-2xl font-bold">{{ title }}</h1>
        {% if start_date and end_date %}
            <span class="mb-2 text-gray-700 dark:text-gray-400">{{ start_date }} - {{ end_date }}</span>
        {% endif %}

        <section class="prose lg:prose-xl prose-slate prose-a:text-blue-600 content my-6">
            {% if thumbnail %}
                <figure>
                    <img src="/img/icons/{{thumbnail}}" width="300" alt=""/>
                </figure>
            {% endif %}

            {{ content | safe }}
        </section>

        <ul class="tags is-inline">
            {% for tag in page.tags %}
                {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                <li>
                    <a href="{{ tagUrl | url }}">{{ tag }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}