---
permalink: /feed.json
eleventyExcludeFromCollections: true
metadata:
    language: "fr"
    title: Thomas Citharel
    subtitle: Je m’appelle Thomas, et je crée des outils web.
    url: https://tcit.fr
    feedUrl: https://tcit.fr/feed.json
    author:
      name: Thomas Citharel
      email: contact@tcit.fr
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.feedUrl }}",
  "description": "{{ metadata.subtitle }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for post in collections.postsWithoutDrafts | reverse %}
  {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }},
      "date_published": "{{ post.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
{%- endfor %}
]
}