---
pagination:
  data: collections.postsWithoutDrafts
  size: 6
  alias: posts
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
{% extends 'page.njk' %}

{% block body %}
  {% include "posts.njk" %}

  {% include "nav.njk" %}

{% endblock %}